# Virtual environment
.venv/

# PyCharm
.idea/

# Python cache
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

data/raw/kaggle/city_hour.csv
data/raw/kaggle/station_hour.csv
